---

services:
    fluentbit:
        image: {{ fluentbit.image | trim | default('fluent/fluent-bit') }}:{{ fluentbit.tag | trim | default('latest') }}
        hostname: fluentbit
        container_name: fluentbit
        restart: unless-stopped
        user: root
        privileged: true
        command: /fluent-bit/bin/fluent-bit -c /etc/fluent-bit/fluent-bit.conf
        environment:
            - TZ=Asia/Shanghai
        ports:
            - {{ fluentbit.port_tcp | trim | default(2020) }}:2020
            - {{ fluentbit.port_http | trim | default(24224) }}:24224
            - {{ fluentbit.port_syslog | trim | default(5140) }}:5140/udp
        volumes:
            - ./config:/etc/fluent-bit
            - /var/log:/var/log
            - /etc/machine-id:/etc/machine-id:ro
            - /run/log/journal:/run/log/journal
            - /opt/docker-services.d:/opt/docker-services.d  

    {%- if debug is defined and debug | trim | lower == "true" -%}
    # for testing purposes only, disable in production
    log-generator:
        image: mingrammer/flog
        container_name: log-generator
        command:
            - --loop
            - --format=json
            - --number=10 # number of log lines to generate per second
            - --delay=100ms # delay between log lines
            - --output=/var/log/generated-logs.log
            - --overwrite
            - --type=log
        environment:
            TZ: Asia/Shanghai
        # logging:
        #   driver: fluentd
        #   options:
        #     fluentd-address: fluentbit:24224     
        volumes:
            - /var/log/:/var/log/
            - /etc/localtime:/etc/localtime:ro
            - /etc/timezone:/etc/timezone:ro     
    {%- endif -%}